<div id="<%= dom_id transac %>">
  <p>
    <strong>Name:</strong>
    <%= transac.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transac.amount %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= transac.author_id %>
  </p>

</div>
