<div class="new-transac-page">
  <h2>Add Transaction</h2>

  <%= render "form", transac: @transac %>

  <br>

  <div>
    <%= link_to "Back to transaction", category_transacs_path, class: 'back-transac-btn' %>
  </div>
</div>
